<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="{{url('../public/assets/css/style.css')}}">

</head>
<body>

<header>
    <div id="logo">
        <h1>Blog Tecnologia</h1>
    </div>
    <nav>
        <a href="{{url('./')}}">Home</a>
        <a href="{{url('post/criarpost')}}">criar Post</a>
        <a href="{{url('post/editarpost')}}">editar Posts</a>
        <a href="{{url('post/verpost')}}">ver Pots</a>
        <a href="{{url('post/deletarpost')}}">excluir Post</a>
        {% if id_usuario %}
            <button class="btnlogin"><a href="{{url('sair')}}">Sair</a></button>
        {%endif%}
    </nav>
</header>

{% block corpo %}

{%endblock %}




<footer>
    <p> Blog tecnologia &copy;</p> </p>
</footer>


</body>

</html>